.Rproj.user
.Rhistory
.RData
.Ruserdata

/.quarto/
~$*
emdb/data/afrec/
emdb/data/afrec/*
emdb/data/classifications/~$classifications.xlsx
emdb/data/classifications/~$test_balance.xlsx
emdb/data/classifications/test_balance.xlsx
emdb/data/faostat/faostat_area_codes.csv
emdb/data/faostat/faostat_em_totals.csv
emdb/data/faostat/faostat_flags.csv
emdb/data/outputs/gwp_total_emissions.csv
emdb/data/outputs/~$*
emdb/data/outputs/gwp_total_emissions_test2.xlsx
emdb/data/outputs/gwp_total_emissions_test_pivot.xlsx
emdb/data/outputs/gwp_total_emissions_test2.xlsx
