.Rproj.user
.Rhistory
.RData
.Ruserdata

/.quarto/
gears_db/data/afrec/
gears_db/data/afrec/*
gears_db/data/classifications/~$classifications.xlsx
gears_db/data/classifications/~$test_balance.xlsx
gears_db/data/classifications/test_balance.xlsx
