.Rproj.user
.Rhistory
.RData
.Ruserdata

/.quarto/
gears_db/data/afrec/
gears_db/data/afrec/*
gears_db/data/classifications/~$classifications.xlsx
gears_db/data/classifications/~$test_balance.xlsx
gears_db/data/classifications/test_balance.xlsx
gears_db/data/faostat/faostat_area_codes.csv
gears_db/data/faostat/faostat_em_totals.csv
gears_db/data/faostat/faostat_flags.csv
